@model PasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/views/shared/_layoutauth.cshtml";
}


<div class="wrapper">
    <div class="title">
        Forgot Password 
    </div>
    <form asp-action="SendRestPasswordUrl" asp-controller="Account">
        <div class="field">
            <input type="text" required asp-for="Email">
            <label asp-for="Email">Email Address</label>
        </div>
       
       
        <div class="field">
            <button type="submit" class="submit-btn">Submit</button>
        </div>
    </form>
</div>
