@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    <link href="~/css/auth.css" rel="stylesheet" />

}
<div class="wrapper">
    <div class="title">
        Reset Password
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <form asp-action="ResetPassword" asp-controller="Account" method="post">
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <div class="field">
            <input type="password" required asp-for="NewPassword" />
            <label asp-for="NewPassword">New Password</label>
        </div>

        <div class="field">
            <input type="password" required asp-for="ConfirmedPassword" />
            <label asp-for="ConfirmedPassword">Confirm Password</label>
        </div>

        <div class="field">
            <button type="submit" class="submit-btn">Change Password</button>
        </div>

    </form>
</div>

