@model PasswordVM

@{
    ViewData["Title"] = "Send Reset Password URL";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section style{
    <style>
   .SentUrl{
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
   font-family: fantasy;
  }
   .email{
     font-family: fangsong;
    font-weight: bold;
    font-size: 25px;
   }
 </style>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 SentUrl" >
            <h1 class="text-center mb-4">Send Reset Password URL</h1>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }

            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }

            <form asp-action="SendRestPasswordUrl" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label email">Email Address</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email"  />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-primary btn-block">Send Reset Link</button>
            </form>

            <div class="text-center mt-3">
                <a asp-controller="Account" asp-action="Login" class="btn btn-outline-danger">Return to Login</a>
            </div>
        </div>
    </div>
</div>



