<a asp-action="Details" asp-route-id="@Model" class="btn btn-outline-info" style="margin-right:5px;"> <i class="fas fa-info-circle"></i></a>
<a href="javascript:void(0)" data-id="@Model" class="btn btn-outline-danger delete-btn" style="margin-right:5px;"><i class="fa-solid fa-trash"></i></a>
<a asp-action="Edit" asp-route-id="@Model" class="btn btn-outline-warning" style="margin-right:5px;"><i class="fas fa-edit"></i></a>
